
//
// DEVICES
//

.device {
  position: relative;
  background-size: cover;
}

.device .app-screenshot {
  position: absolute;
  width: 240px;
  height: auto;
}

// Video

.video-container iframe {
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
}

//
// iPhone SE Silver Vertical
//

.device-iphone {
  width: 288px;
  height: 608px;
}

.device-ipad {
  width: 288px;
  height: 608px;
}
