<div class="main" role="main">
  <div class="container">

    <div class="row">
      <div class="col-sm-12">

        <!-- Marketing -->
        <div class="marketing">
          <div class="app-meta">
            <img class="app-icon" style="min-width: 92px;" height="auto" {% if site.app.icon %}
              src="{{ site.app.icon }}" {% endif %} />
            <span class="app-name">{{ site.app.name }}</span>
          </div>

          {% if site.marketing_header %}
          <h2 class="marketing-header col-sm-10">{{ site.marketing_header }}</h2>
          {% endif %}

          <p class="marketing-desc col-sm-10">{{ site.marketing_desc }}</p>
        </div>

        
      </div>
      <div>
        <img src="images/download-on-the-app-store-black.svg" alt="Download on the App Store"
          class="download-appstore-btn">

        <a href="https://itunes.apple.com/app/id{{ site.app.ios_id }}?mt=8" class="download-appstore-btn">
        </a>
      </div>

      <div class="col-sm-10">

        <!-- App Preview or Screenshot(s) -->
        <div class="device">
          <img class="app-screenshot" {% if site.app.screenshot %}src="{{ site.app.screenshot }}" {% endif %} />
        </div>
      </div>
    </div>

  </div>
</div>

<div class="social">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        {% include social.html %}
      </div>
    </div>
  </div>
</div>


<div class="footer">
  <div class="container">
    <!-- footer text here -->
  </div>
</div>